.aboutContainer {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #333;
  text-align: center; /* Center text horizontally */
}

.aboutText {
  flex: 1;
  color: white; /* Change color to white for better contrast */
  max-width: 600px; /* Optional: limit the width of the text container */
}

.aboutText h1 {
  margin-top: -40px;
  color: white;
}

.aboutText p {
  margin-bottom: 1px;
  font-size: 18px;
  line-height: 1.6;
  color: white;
}