.game-header {
  text-align: center;
  padding: 20px;
}

.game-header h1 {
  font-size: 30px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
}

.search-bar select {
  padding: 10px;
  font-size: 16px;
}

.paths {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-height: 500px; /* Adjust as needed */
  padding: 10px;
}

.path {
  text-align: center;
  margin-bottom: 20px;
}

.path-image {
  width: 150px;
  height: 300px;
  display: block;
  margin: 0 auto 20px;
}

.btn-lg {
  padding: 20px 30px; 
  font-size: 40px;
  width: 100%; 
  max-width: 300px; 
  margin: 0 auto; 
}