.project-info h1 {
  font-size: 2.2em; 
}

.project-info button {
  font-size: 2em; 
  padding: 10px 20px;
}

.small-button {
  margin-top:20px !important;
  padding: 2px 6px !important;
  font-size: 1.5em !important;
}


.small-text {
  font-size: 0.8em; 
}