@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.panorama-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  background: transparent;
  border-radius: 15px;
  
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}

.loading-bar {
  width: 200px;
  height: 20px;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.loading-progress {
  height: 100%;
  background-color: #4CAF50;
  transition: width 0.3s ease;
}

.loading-text {
  font-family: 'Roboto Mono', monospace;
}

.popup {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
  transition: opacity 0.3s;
  max-width: 200px;
  font-size: 14px;
}

.panorama-button {
  transition: transform 0.3s, background-color 0.3s, opacity 0.3s;
  font-family: 'Roboto Mono', monospace;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.panorama-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
  background-color: rgba(0, 0, 0, 0.8);
}

.panorama-button:active {
  transform: translate(-50%, -50%) scale(0.9);
  background-color: rgba(0, 0, 0, 0.9);
}