/* Prevent scrolling on the body and html */
html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}


.path-game {
  text-align: center;
  padding: 20px;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.main-menu-button{
  padding: 10px 20px;
  font-size: 32px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 5px;

}

.page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: calc(100vh - 40px);
  overflow: hidden;
}

.panorama-container {
  width: 90vw; 
  height: 90vh; 
  border-radius: 20px;

  overflow: hidden;
  margin-top: -60px; 
}
.panorama-wrapper {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}


.description-text {
  margin-bottom: 20px;
  font-size: 50px;
  color: white;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 0 20px;
}

.nav-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-next {
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin-right: 70px;
  z-index: 1000;
}

.btn-prev {
  position: fixed; 
  bottom: 20px; 
  left: 20px;
  z-index: 1000;
  margin-left: 65px;
}

.pop-down {
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
  padding: 20px;
  margin-left: 40px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-in-out, visibility 2s ease-in-out;
  z-index: 2000;
}

.pop-down.show {
  opacity: 1;
  visibility: visible;
}

.pop-down h3 {
  margin: 0;
  font-size: 18px;
  color: white;
}

.pop-down hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

.pop-down p {
  margin: 0;
  font-size: 14px;
  color: white;
}
.path-game h2 {
  display: none;
}
.animated-word {
  display: inline-block;
}

.animated-final-page {
  text-align: center;
  padding: 20px;
}

.animated-text {
  margin-bottom: 20px;
  font-size: 20px;
}

.animated-text span {
  display: inline-block;
}

.main-menu-button {
  padding: 10px 20px;
  font-size: 32px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.main-menu-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}