.path-game {
  text-align: center;
  padding: 20px;
  position: relative;
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
}

.page-content {
  margin: 20px 0;
}

.description-text {
  margin-bottom: 20px;
  font-size: 50px;
  color: #333;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative; /* Change to relative for normal flow */
  padding: 0 20px;
}

.nav-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.8); 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-next {
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  z-index: 1000; 
}

.back-button {
  position: absolute; 
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8); 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}