.path {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #28233e25;
  border-radius: 8px;
  background-color: #b4b4b825;
  width: 60%; 
  margin: 0 auto 10px;
}

.path-content {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  width: 100%;
}

.path-description {   
  flex: 1;
  margin-right: 10px; 
  text-align: left; 
}

.path-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.path-image {
  max-width: 100px;
  margin-right: 20px;
}

.btn-lg {
  margin-top: 200px !important;
  padding: 5px 10px;
  font-size: 30px !important;
  margin-left: 0; 
}